{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me - Cameron Smith</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar" aria-label="Main Navigation">
      <h1>Recipify</h1>
      <div
        class="hamburger"
        onclick="toggleNavbar()"
        aria-label="Toggle Navigation"
      >
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="navbar-links" aria-label="Navigation Links">
        <a href="{% url 'recipes:home' %}">Home</a>
        <a href="{% url 'recipes:about' %}">About</a>
        <a href="{% url 'recipes:recipes_list' %}">Recipes</a>
        <a href="{% url 'recipes:add_recipe' %}">Create</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </nav>
    <div class="menu-links" id="active" aria-label="Menu Links">
      <div class="item armed"><a href="{% url 'recipes:home' %}">Home</a></div>
      <div class="item armed">
        <a href="{% url 'recipes:about' %}">About</a>
      </div>
      <div class="item armed">
        <a href="{% url 'recipes:recipes_list' %}">Recipes</a>
      </div>
      <div class="item armed">
        <a href="{% url 'recipes:add_recipe' %}">Create</a>
      </div>
      <div class="item armed"><a href="{% url 'logout' %}">Logout</a></div>
    </div>

    <main class="about-content">
      <h2>About Me</h2>
      <p>
        Hi there! I'm Cameron Smith, a full stack web developer who finds joy in
        crafting robust and interactive web applications. My journey into web
        development began in school, where I developed a passion for coding and
        solving complex problems. I have honed my skills in both front-end and
        back-end development, mastering languages such as HTML, CSS, JavaScript,
        and Python.
      </p>
      <p>
        I am proficient in various frameworks and libraries, including React,
        Angular, and Django. These tools have enabled me to build dynamic and
        responsive applications. I am a continuous learner, always eager to stay
        abreast of the latest technologies and trends in the web development
        world. Tackling new challenges and working on innovative projects
        excites me.
      </p>
      <p>
        When I’m not coding, I enjoy exploring topics related to space,
        indulging in video games, and listening to music. Balancing work and
        personal life is important to me, as it helps maintain my creativity and
        productivity. I am enthusiastic about bringing my skills and passion for
        web development to collaborative projects. Let's connect and create
        something remarkable together!
      </p>
      <p>
        <strong>Portfolio:</strong>
        <a
          href="https://cameron8325.github.io/portfolio-website/"
          target="_blank"
          >View my portfolio</a
        ><br />
        <strong>LinkedIn:</strong>
        <a
          href="https://www.linkedin.com/in/michael-smith-4b0252141/"
          target="_blank"
          >Connect with me on LinkedIn</a
        >
      </p>
    </main>

    <footer>
      <p>Recipify, a Django app.</p>
    </footer>

    <script>
      function toggleNavbar() {
        let menuLinks = document.getElementById("active");
        let links = document.querySelectorAll(".armed"); // Select all elements with class "armed"
        if (menuLinks.style.display === "flex") {
          menuLinks.style.animationName = "slideOut"; // Apply reverse animation
          links.forEach((link) => {
            link.style.animationName = "fadeOut"; // Apply fadeOut animation to each link
          });
          setTimeout(() => {
            menuLinks.style.display = "none";
          }, 400); // Adjust timing to match animation duration
        } else {
          menuLinks.style.animationName = "slideIn"; // Apply regular animation
          links.forEach((link) => {
            link.style.animationName = "fadeIn"; // Apply fadeIn animation to each link
          });
          menuLinks.style.display = "flex";
        }
      }
    </script>
  </body>
</html>
