/* Global Styles */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header, nav, footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex-grow: 1; /* Take up remaining space */
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li {
  margin-right: 30px;
}

main {
  padding: 40px 20px;
  flex-grow: 1;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.results-table th {
  background-color: #343a40;
  color: white;
}

.results-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.results-table tr:hover {
  background-color: #ddd;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart-container img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.about-content {
  text-align: center;
  padding: 60px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 20px;
}

.about-content p {
  color: #6c757d;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Featured Recipes */
.featured-recipes {
  margin: 40px auto;
  text-align: center;
}

.featured-recipes h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #343a40;
}

.featured-recipes .recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.featured-recipes .recipe-card {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.featured-recipes .recipe-card:hover {
  transform: translateY(-5px);
}

.featured-recipes .recipe-card a {
  display: block;
  text-decoration: none;
  color: #343a40;
}

.featured-recipes .recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.featured-recipes .recipe-card h3 {
  padding: 10px;
  text-align: center;
  margin: 0;
}

/* Recipe List Page */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card a {
  display: block;
  text-decoration: none;
  color: #333;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h3 {
  padding: 10px;
  text-align: center;
  margin: 0;
}

/* Recipe Details Page */
.recipe-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 1200px;
}

.recipe-info {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.recipe-info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipe-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.recipe-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.arrow {
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  text-align: center;
}

.arrow:hover {
  background-color: #555;
}

/* Login Page */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-container .error-message {
  color: #f00;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button.login-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button.login-btn:hover {
  background-color: #45a049;
}

/* Welcome Content */
.welcome-content {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.welcome-content h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-content p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.login-btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #45a049;
}

/* Search Form Styles */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  align-items: center;
}

.search-container .form-group {
  display: flex;
  flex-direction: column;
}

.search-container .search-input,
.search-container .search-select {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease;
}

.search-container .search-input:focus,
.search-container .search-select:focus {
  border-color: #007bff;
  outline: none;
}

.search-container .search-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-self: stretch;
}

.search-container .search-btn:hover {
  background-color: #0056b3;
}

/** Add Recipe Page Stylings **/

/* Container for the add recipe form */
.add-recipe-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Page title */
.add-recipe-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #343a40;
}

/* Create-Recipe Form styles */
.add-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.add-recipe-form .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.add-recipe-form input[type="text"],
.add-recipe-form input[type="number"],
.add-recipe-form select,
.add-recipe-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  align-items: center;
}

.add-recipe-form input[type="text"]:focus,
.add-recipe-form input[type="number"]:focus,
.add-recipe-form select:focus,
.add-recipe-form input[type="file"]:focus {
  border-color: #007bff;
  outline: none;
}

.add-recipe-form .instructions {
  display: block;
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: 5px;
}

/* Submit button */
.add-recipe-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-recipe-form button:hover {
  background-color: #45a049;
}

/** About Page **/
.about-me {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.about-me section {
  margin-bottom: 20px;
}

.about-me h3 {
  margin-top: 20px;
  color: #555;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.about-me p {
  margin-bottom: 10px;
  color: #666;
}

.about-me a {
  color: #007BFF;
  text-decoration: none;
}

.about-me a:hover {
  text-decoration: underline;
}

/* Success Page */
.content-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-container h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content-container p {
  font-size: 1.2rem;
  color: #6c757d;
  line-height: 1.6;
  margin-bottom: 30px;
}

.login-btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #45a049;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .header-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between; /* Ensure proper spacing */
  }

  nav {
    width: 100%;
    padding: 0; /* Remove unnecessary padding */
  }
  
  nav ul {
    display: none; /* Hide the nav links */
    flex-direction: column;
    width: 100%;
    align-items: center; /* Center the nav items */
  }
  
  nav ul.active {
    display: flex;
    flex-direction: column;
    margin-top: 0; /* Remove top margin to eliminate unnecessary space */
  }
  
  nav ul li {
    margin-right: 0;
    width: 100%;
    text-align: center; /* Center the text */
    border-bottom: 1px solid #444;
  }
  
  nav ul li:last-child {
    border-bottom: none;
  }
  
  nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
  
  .hamburger-menu {
    display: block; /* Show the hamburger menu */
    font-size: 30px;
    cursor: pointer;
  }
}

/* Footer */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
