{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Recipify</h1>
        <nav>
          <ul>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
            <li><a href="{% url 'recipes:recipes_list' %}">Recipes</a></li>
            <li><a href ="{%url 'logout' %}"> Logout </a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="recipe-container">
    <main class="recipe-grid">
      {% for recipe in recipes %}
        <div class="recipe-card">
          <a href="{% url 'recipes:recipe_detail' recipe.id %}">
            <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}" />
            <h2>{{ recipe.name }}</h2>
          </a>
        </div>
        {% endfor %}
      </main>
    </div>
    

    <footer>
      <p>Recipify, a Django app.</p>
    </footer>
  </body>
</html>
