<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes List</title>
</head>
<body>
    <header>
        <h1>Recipes List</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'recipes:home' %}">Home</a></li>
        </ul>
    </nav>

    <main>
        <h2>Recipes</h2>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Recipe Titles</td>
                <td>Recipe Images</td>
            </tr>
            {% for recipe in recipes %}
            <tr>
                <td><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.name }}</a></td>
                <td><img src="{{ recipe.pic.url }}" width="150" height="200" /></td>
            </tr>
            {% endfor %}
        </table>
    </main>

</body>
</html>
